@charset "UTF-8";
/* MIXINS */
/* Maps */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "raleway", sans serif;
  color: #000000;
  font-size: 1rem;
  background-color: #efe1c6;
}

header a, footer a {
  color: #ffffff;
}

main {
  margin: 0rem 4rem 0rem 4rem;
  padding-top: 9rem;
}

h1 {
  font-family: "notable";
  color: #000000;
  font-size: 5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 8.9rem;
}

p {
  text-align: justify;
}

a {
  color: #000000;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

span {
  font-weight: bold;
}

/* Bouton présent sur plusieurs pages */
.bouton {
  position: absolute;
  background-color: #f7a006;
  text-align: center;
  font-weight: bold;
  border-radius: 30px;
  padding: 1rem 2.5rem 1rem 2.5rem;
  font-size: 1.3rem;
  right: 10%;
  box-shadow: 0.2rem 0.2rem 0.5rem black;
  transition-property: transform;
  transition-duration: 200ms;
  box-shadow: 0.2rem 0.2rem 0.5rem black;
}
.bouton--accueil {
  right: 42%;
}
.bouton:hover {
  transform: scale(1.1);
}

/* Formulaire de la page Booking */
.form {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-top: 4rem;
}
.form__row {
  display: flex;
  gap: 20px;
}
.form__column {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.form__label {
  padding-bottom: 0.7rem;
  font-weight: bold;
}
.form__submit {
  width: 20%;
  align-self: center;
  margin-top: 1.5rem;
  padding: 1rem 6.5rem 1rem 2.5rem;
  border-radius: 30px;
  border: none;
  background-color: #f7a006;
  font-weight: bold;
  box-shadow: 0.2rem 0.2rem 0.5rem black;
  box-shadow: 0.2rem 0.2rem 0.5rem black;
}
.form .txt-zone {
  padding: 15px;
  border-radius: 3px;
  outline: none;
  border: white;
  transition: background-color 500ms;
}
.form .txt-zone:focus {
  border: 2px solid #f7a006;
}
.form .txt-zone:not(:focus):invalid {
  background: rgb(221, 221, 221);
  color: #ffffff;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-right: 4rem;
  padding-left: 4rem;
  margin-bottom: 12rem;
  padding-top: 1.5rem;
  z-index: 1;
}
.header--darkgradient {
  background: linear-gradient(black, rgba(255, 0, 0, 0));
}
.header--lightgradient {
  background: linear-gradient(rgb(0, 0, 0), rgba(255, 0, 0, 0));
}
.header--lightgradient a {
  color: black;
}
.header__logo {
  width: 10%;
  max-width: 140px;
}
.header__ul {
  display: flex;
  align-items: center;
}
.header__li {
  margin-left: 1rem;
  border-radius: 30px;
  padding: 0.2rem 0.8rem 0.2rem 0.8rem;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border: 2px #ffffff solid;
  font-weight: 500;
}
.header__li:hover {
  border: 2px white solid;
  background-color: white;
  color: #000000;
}
.header__li--pop {
  background: linear-gradient(to right, palegreen, yellow, green);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}
.header__li--pop:hover {
  color: black;
  background: linear-gradient(to right, palegreen, yellow, green);
  border: 2px #ffffff solid;
}

/* Manque le lien surligné de la page en cours */
.footer {
  Background-color: black;
  height: 8rem;
  margin-top: 8rem;
}
.footer__ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.table {
  width: 100%;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 5rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-collapse: collapse;
  text-align: center;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
.table__td {
  padding: 2rem 0rem 2rem 0rem;
  border-top: 1px white solid;
  border-bottom: 1px white solid;
  font-size: 1rem;
}
.table a {
  font-size: 1rem;
  color: #f7a006;
}

.body-accueil {
  background-color: black;
  color: #ffffff;
}
.body-accueil__video {
  height: 100vh;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.main-page {
  padding-top: 2rem;
}
.main-page__header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35rem;
  padding-bottom: 12.6rem;
}
.main-page__title {
  position: absolute;
  top: 41%;
  color: #f7a006;
  font-size: 5.875rem;
}
.main-page__dates {
  display: flex;
  flex-direction: column;
  padding: 0rem 6rem 0rem 6rem;
}

.jankev-bio {
  position: absolute;
  top: -80px;
  left: 200px;
  z-index: -2;
  opacity: 0.3;
}

.main-intro {
  padding-bottom: 10rem;
  width: 60%;
}

.bio {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10rem;
}
.bio__txt {
  width: 40%;
}
.bio__diaporama {
  background-color: black;
  width: 40%;
}

.festivals h3 {
  margin-bottom: 1rem;
}

.booking {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.booking__txt {
  padding-top: 4rem;
}
.booking__title {
  margin-bottom: 1.5rem;
}
.booking h3 {
  margin-bottom: 2rem;
}

.disco-bg {
  position: fixed;
  width: 100%;
  opacity: 0.7;
  z-index: -2;
}

#discotropic-pres {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0px;
}
#discotropic-pres p {
  width: 50%;
  padding-bottom: 12rem;
}

.discotropic-title {
  padding-bottom: 8.9rem;
}
.discotropic-title__row {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.discotropic-title__disco {
  text-align: right;
  color: #ffffff;
}
.discotropic-title__tropic {
  display: flex;
  text-align: right;
  line-height: 2rem;
  color: #ffffff;
}

.invite {
  padding: 0rem 8rem 10rem 8rem;
}
.invite__img {
  z-index: 2;
  width: 10.5rem;
  height: 10.5rem;
}
.invite__bloc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  gap: 1.8rem;
}
.invite__name {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 10.5rem;
  height: 10.5rem;
  text-align: center;
  color: #ffffff;
  display: none;
}
.invite__prev {
  position: relative;
}
.invite__prev:hover .invite__name {
  display: block;
}

.mix {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #000000;
  font-size: 1.3rem;
}
.mix li:hover {
  font-weight: bold;
}
.mix__list {
  display: flex;
  gap: 1rem;
  overflow: scroll;
}
.mix__cover {
  width: 100%;
  margin-bottom: 0.5rem;
  position: relative;
}
.mix__prev {
  min-width: 15rem;
  max-width: 20rem;
}
.mix__prev--title {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.mix__title {
  margin-bottom: 1rem;
}

/* ESSAIS  SOUNDCLOUD : discotropic.html - lignes 152/153 - iframe */
iframe {
  width: 240px;
  height: 94.38px;
  position: absolute;
}

.lien__mix {
  position: relative;
}

.mix__cover:active {
  visibility: hidden;
}

.img {
  z-index: 1;
  position: relative;
}
.img:hover::after {
  opacity: 1;
}
.img::after {
  content: "ARTISTE";
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10.5rem;
  height: 10.5rem;
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 250ms;
}

.title__podcasts {
  line-height: 2rem;
  font-size: 4rem;
  padding-bottom: 5rem;
}

.podcasts {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #000000;
  font-size: 1.3rem;
}
.podcasts li:hover {
  font-weight: bold;
}
.podcasts__list {
  display: flex;
  gap: 1rem;
  overflow: scroll;
}
.podcasts__cover {
  width: 100%;
  margin-bottom: 0.5rem;
}
.podcasts__prev {
  min-width: 15rem;
  max-width: 20rem;
}
.podcasts__prev--title {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.podcasts__title {
  margin-bottom: 1rem;
}/*# sourceMappingURL=main.css.map */