* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "raleway", sans serif;
    color: $color-txt;
    font-size: 1rem;
}

h1 {
    font-family: 'notable';
    color: $color-txt;
    font-size: 5rem;
}

.main_title {
    color: $color-primary;
    font-size: 5.875rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

footer a, header a {
    color: $color-txt2;
}

 a { 
    color: $color-txt;
    text-decoration: none;
 }

 ul {
    list-style-type: none;
 }