.body-accueil {
    background-color: black;
    color: $color-txt2;
    &__video {
        height: 100vh;
        width: 100vw;
        object-fit: cover;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
}

.main-page {
    padding-top: 2rem;
    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35rem;
        padding-bottom: 12.6rem;
    }
    &__title {
        position: absolute;
        top: 41%;
        color: $color-primary;
        font-size: 5.875rem;
    }
    &__dates {
        display: flex;
        flex-direction: column;
        padding: 0rem 6rem 0rem 6rem;

    
    }
}