.txt_intro {
    padding-top: 4.813rem;
    padding-bottom: 10rem;
    width: 60%;
}

.bio {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10rem;
}

.txt_bio {
    width: 40%;
}

.diaporama {
    background-color: black;
    width: 40%;
}

.festivals h3 {
    margin-bottom: 1rem;
}