.booking {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    &__txt {
        padding-top: 4rem;
    }
    &__title {
        margin-bottom: 1.5rem;
    }
    & h3 {
        margin-bottom: 2rem;
    }
}
