#discotropic-pres {
    & p {
        width: 50%;
        padding-bottom: 12rem;;
    }
}

.title {
    padding-bottom: 8.9rem;
    &__row {
        display: flex;
        align-items: center;
        gap: 1.2rem;
    }
    &__nuits {

    }
    &__disco {
        text-align: right;
    }
    &__tropic {
        display: flex;
        text-align: right;
        line-height: 2.2rem;
    }
}

.invite {
    &__img {
        width: 15%;
    }
}