#discotropic-pres {
    & p {
        width: 50%;
        padding-bottom: 12rem;;
    }
}

.title {
    padding-bottom: 8.9rem;
    &__row {
        display: flex;
        align-items: center;
        gap: 1.2rem;
    }
    &__nuits {

    }
    &__disco {
        text-align: right;
    }
    &__tropic {
        display: flex;
        text-align: right;
        line-height: 2.2rem;
    }
}

.invite {
    padding: 0rem 8rem 100rem 8rem;
    &__img {
        width: 10.5rem;
        height: 10.5rem;
    }
    &__bloc {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 2rem;
        gap: 1.8rem;
    }
    &__name {
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 97%;
        text-align: center;

        color: $color-txt2;
        display: none;
    }
    &__prev {
        position: relative;
        &:hover .invite__name {
            display: block;
        }
    }
}