.footer {
    Background-color: black;
    height: 8rem;
    margin-top: 6rem;
    &__ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
    }
}
