.header {
    position: fixed;
    left: 0px;
    display: flex;
    align-items: center;
    align-content: center;
    padding-right: 4rem;
    padding-left: 4rem;
    margin-bottom: 12rem;
    padding-top: 1.5rem;z-index: 1;
    &--darkgradient {
        background: linear-gradient(black, rgba(255, 0, 0, 0));
    }
    &--lightgradient {
        background: linear-gradient(rgb(0, 0, 0), rgba(255, 0, 0, 0));
        & a {
            color: black;
        }
    }
    &__logo {
        width: 10%;
    }
    &__ul {
        display: flex;
        align-items: center;
    }
    &__li {
        margin-left: 1rem;
        border: 2px rgba(0, 0, 0, 0) solid;
        border-radius: 30px;
        padding: 0.2rem 0.8rem 0.2rem 0.8rem;
        &--pop {
            background: linear-gradient(to right, palegreen, yellow, green);
            background-clip: text;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            color: transparent;
        }
    }
    &__li:hover {
        border: 2px $color-primary solid;
    }
}

    /* Manque le lien surligné de la page en cours */