.header {
    position: fixed;
    left: 0px;
    display: flex;
    align-items: center;
    align-content: center;
    margin-right: 4rem;
    margin-left: 4rem;
    margin-bottom: 12rem;
    &__logo {
        width: 10%;
    }
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav li {
    margin-left: 1rem;
    border: 2px rgba(0, 0, 0, 0) solid;
    border-radius: 30px;
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;

}

nav li:hover {
    border: 2px $color-primary solid;
}

