/* Bouton présent sur plusieurs pages */

.bouton {
    position: absolute;
    background-color: $color-primary;
    text-align: center;
    font-weight: bold;
    border-radius: 30px;
    padding: 1rem 2.5rem 1rem 2.5rem;
    font-size: 1.3rem;
    right: 10%;
    &--accueil {
        right: 42%;
    }
    &--basic {
        
    }
}

/* Formulaire de la page Booking */

.form {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-top: 4rem;
    &__row {
    display: flex;
    gap: 20px;
    }
    &__column {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    &__label {
        padding-bottom: 0.7rem;
        font-weight: bold;
    }
    &__submit {
        width: 20%;
        align-self: center;
        margin-top: 1.5rem;
        border-radius: 30px;
        background-color: $color-primary;
        font-weight: bold;
    }
    input, textarea {
        padding: 15px;
        border-radius: 3px;
        border: none;
    }

}

