/* Bouton présent sur plusieurs pages */

.bouton {
    position: absolute;
    background-color: $color-primary;
    text-align: center;
    font-weight: bold;
    border-radius: $button-radius;
    padding: 1rem 2.5rem 1rem 2.5rem;
    font-size: 1.3rem;
    right: 10%;
    @include button-shadow;
    transition-property: transform;
    transition-duration: 200ms;
    @include button-shadow;
    &--accueil {
        right: 42%;
    }
    &--basic {
        
    }
    &:hover {
        transform: scale(1.1);
    }
}

/* Formulaire de la page Booking */

.form {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-top: 4rem;

    &__row {
    display: flex;
    gap: 20px;
    }
    &__column {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    &__label {
        padding-bottom: 0.7rem;
        font-weight: bold;
    }
    &__submit {
        width: 20%;
        align-self: center;
        margin-top: 1.5rem;
        padding: 1rem 6.5rem 1rem 2.5rem;
        border-radius: $button-radius;
        border: none;
        background-color: $color-primary;
        font-weight: bold;
        @include button-shadow;
        @include button-shadow;
    }
    .txt-zone {
        padding: 15px;
        border-radius: 3px;
        outline: none;
        border: white;
        transition: background-color 500ms;
        &:focus {
            border: 2px solid $color-primary;
        }
        &:not(:focus):invalid {
            background: rgb(221, 221, 221);
            color: $color-txt2;
        }
    
    }

}

