.bouton {
    position: absolute;
    background-color: $color-primary;
    text-align: center;
    font-weight: bold;
    border-radius: 30px;
    padding: 1rem 3rem 1rem 3rem;
    font-size: 1.5rem;
    &--accueil {
        right: 42%;
    }
    &--basic {
        right: 10%;
    }
}

.form {

    &__row {
    display: flex;
    }
    &__txt {
    width: 99%;
    }
    &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    }
}